doctype html
html(lang="en")
  head
    title Calculator
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .columns
      .column= "hello"
      .column= "world"
      .column= "world"
      .column= "world"
    //- .app
    //-   .screen
    //-     h1 0
    //-     p 0
    //-   .buttons
    //-     .sup-box
    //-       .row
    //-         button.btn.red AC
    //-         button.btn.red CE
    //-         button.btn /
    //-         button.btn *
    //-       .row
    //-         button.btn 7
    //-         button.btn 8
    //-         button.btn 9
    //-         button.btn -
    //-       .row
    //-         button.btn 4
    //-         button.btn 5
    //-         button.btn 6
    //-         button.btn +
    //-     .inf-box
    //-       .left-box
    //-         .row
    //-           button.btn 1
    //-           button.btn 2
    //-           button.btn 3
    //-         .row
    //-           button.btn#zero(data-value="0") 0
    //-           button.btn .
    //-       .right-box
    //-         .row
    //-           button.btn =