$bg-color: #6666fe;
$calc-color: #ff6600;
$red: #ff0000;
$screen-color: #666666;
$btn-size: 3rem;
$rel: 0.652153;
$calc-width: 80vw;
$btn-width: 25%;
$btn-height: 100/7%;
$font-family: 'Lato', Arial;
$screen-size: 30%;
$def-cur: 2.5rem;
$def-prev: 1.2rem;

body {
  font-family: $font-family;
  height: 96vh;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;

  width: $calc-width;
  height: 1 / $rel * $calc-width;

  @media only screen and (min-width: 380px)  {
    width: $calc-width * .8;
    height: 1 / $rel * $calc-width * .8;
  }

  @media only screen and (min-width: 500px)  {
    $calc-width: 325px;
    width: $calc-width;
    height: 1 / $rel * $calc-width;
  }
  #message {
    white-space: nowrap; /* This line is to restrict to one line */
    opacity: 0;
    margin-top: 0;
    margin-left:0;
    position: absolute;
    top: calc(100% + 5px) ;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s ease;
    background-color: red;
    color: white;
    font-weight: 900;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    &.active {
      opacity: 1;
    }
  }
  border-radius: 2rem;
  background-color: $calc-color;
  .screen {
    background-color: $screen-color;
    height: $screen-size;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .8rem;
    #number-typed {
      text-align: right;
      font-size: $def-cur;
      margin: 0;
      &.small {
        font-size: $def-cur * 0.8;
      }
    }
    #prev-calc {
      text-align: right;
      font-size: $def-prev;
      margin: 0;
      &.small {
        font-size: $def-prev * 0.8;
      }
    }
  }
  .buttons {
    display: grid;
    height: 100% - $screen-size;
    grid-template-rows: repeat(5, calc(20% - .605rem));
    grid-template-columns: repeat(4, calc(25% - .605rem));
    grid-gap: .8rem;
    grid-template-areas: 
    "ac c div mult"
    "seven eight nine diff"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
    justify-content: center;
    .btn {
      border:none;
      background-color: #fff;
      font-size: 1.2rem;
      padding-left: 0;
      padding-right: 0;
      font-family: $font-family;
      font-weight: 900;
      text-align: center;
      color: black;
      transition: all .07s cubic-bezier(.18,.89,.32,1.28);
      &:focus {
        border: none;
      }
    }
    .btn.active {
      background-color: rgba(255, 255, 255, .5);
    }
    .btn.red {
      color: $red;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  font-family: 'Lato';
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 0;
}